.section__skills__title {
    color: white;
    text-align: center;
    margin-top: 8%;
}

.section__skills__subtitle {
    color: gray;
    display: grid;
    text-align: center;
    line-height: 2rem;
}

.skills__container {
    display: flex;
    justify-content: center;
    color: white;
}

.skills__content {
    border: 1px solid white;
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    color: #ff9900;
    margin: 2%;
    margin-top: 5%;
}

.skills__title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 3rem;

}

.skills__box {
    display: flex;
    justify-content: center;

}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
}

.skills__name {
    font-size: 1rem;
    font-weight: bold;
    line-height: 18px;
}

@media screen and (max-width:768px) {
    .skills__container {
        display: flex;
        flex-direction: column;
        margin: 10%;
    }
}

@media screen and (max-width:576px) {
    .skills__title {
        font-size: 1.3rem;
        font-weight: normal;
    
    }
}
@media screen and (max-width:356px) {}